h1 {
    font-size: max(min(6.5vw,36px),30px);
}
h2 {
    font-size: max(min(5vw,28px),20px);
}
h3 {
    font-size: max(min(3.8vw,18px),15px);
}
p {
    font-size: min(max(4.5vw,18px),24px);
}
button {
    font-size: max(min(2.5vw,18px),16px);
    background-color: antiquewhite;
    border: black 1.5px solid;
    border-radius: 5px;
    padding: max(0.7vw,5px) max(4vw,26px);
    transition: background-color, transform 0.4s ease-out;
}
button:hover {
    background-color: #f8adad;
    transform: translateY(-7px);
    transition: background-color, transform 0.4s ease-out;
    cursor: pointer;
}
label + input[type="email"], label + input[type="password"], label + input[type="text"] {
    margin-left: 10px;
    font-size: larger;
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
}
div.apis-ctn {
    background-color: antiquewhite;
    margin: 20px 0;
    padding: min(2vw,10px) min(3vw,18px);
    position: relative;
}
form>div {
    margin: 20px 0;
}
form div input:focus {
    outline: rgb(11, 210, 87) 1.5px solid;
    outline-offset: 2px;
}
.api-content-div {
    position: absolute;
    width: 30%;
    padding: 1% 2%;
    bottom: 30px;
    right: 50px;
    border: grey 1px solid;
    border-radius: 10px;
    transition: all ease-in 0.5s;
    visibility: hidden;
    opacity: 0;
    line-height: 1.5;
    font-size: max(min(1.7vw,16px),13px);
}
.api-content-div p {
    font-size: min(max(2vw,18px),24px);
}
.green {
    background-color: #7fffd47a;
}
.red {
    background-color:lightcoral;
}
.visible {
    transition: all ease-in 0.5s;
    visibility: visible;
    opacity: 0.8;
}
#exchange-form input[type="radio"]  {
    display: none;
}
#exchange-form label {
    background-color: azure;
    padding: 5px 10px;
    font-size: max(min(3vw,16px),14px);
}
#exchange-base-div>div, #exchange-return-div>div {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw 2vw;
}
#exchange-form div input[type="radio"]:checked + label {
    background-color: brown;
    color: aliceblue;
}
#exchange-result span {
    background-color: azure;
    padding: 1px 5px;
    border-radius: 5px;
    border: #0000ff63 1px solid;
}
a#giphy-result-div {
    width: 40%;
    margin: 0 auto;
    position: inherit;
}
div#gifgrid-result-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1%;
    position: unset;
    width: 90%;
    gap: 5px 5px;
    border: none;
}
#gif-sticker-text-input {
    display: block;
}
#gif-sticker-input-div {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
}
#gifgrid-title {
    text-align: center;
    border: grey 1px solid;
    border-radius: 10px;
}
div#gifgrid-result-div a {
    width: 25%;
}
div#gifgrid-result-div a img {
    width: 100%;
    height: auto;
}
input#offset-input {
    display: block;
}
@media all and (max-width:790px) {
    .api-content-div {
        position: unset;
        margin: auto;
        width: 66%;
        font-size: max(min(2.5vw,16px),14px);
    }
    #exchange-base-div>div, #exchange-return-div>div {
        justify-content: center;
    }
    label + input[type="email"], label + input[type="password"], label + input[type="text"] {
        display: block;
        font-size: min(5.2vw,24px);
        padding: 5px 10px;
        margin: auto;
    }
}